<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>案件审核-基本信息 </title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<link href="../../css/mui.css" rel="stylesheet" />
		<link href="../../css/app.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/report.css"/>
		<style type="text/css">
			.miaoshu{
				height: auto;
				overflow: auto;
				width: 80%;
				word-wrap: break-word;
				text-align: right;
			}
		</style>
	</head>

	<body>
		<div class="mui-content">
			<div class="mui-card">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						立案编号<label class="r-float font-color" >秀综执立[2017]第4-010号</label>
					</li>
					<li class="mui-table-view-cell">
						案件类型<label class="r-float font-color" >环境保护类</label>
					</li>
					<li class="mui-table-view-cell">
						案由<label class="r-float font-color miaoshu" >任何单位或个人随意倾倒、抛撒或者堆放建筑垃圾的处罚</label>
					</li>
					<li class="mui-table-view-cell">
						案件来源<label class="r-float font-color" >巡查发现</label>
					</li>
					<li class="mui-table-view-cell">
						案发时间<label class="r-float font-color" >2016年12月6日</label>
					</li>
					<li class="mui-table-view-cell">
						案发地点<label class="r-float font-color" >嘉兴市秀洲区昌盛中路1号</label>
					</li>
					<li class="mui-table-view-cell">
						当事人<label class="r-float font-color" >李依依</label>
					</li>
					<li class="mui-table-view-cell">
						证件类型<label class="r-float font-color" >身份证</label>
					</li>
					<li class="mui-table-view-cell">
						证件号<label class="r-float font-color" >345678199009090909</label>
					</li>
					<li class="mui-table-view-cell">
						联系电话<label class="r-float font-color" >12345678890</label>
					</li>
					<li class="mui-table-view-cell">
						联系地址<label class="r-float font-color" >嘉兴市秀洲区嘉里小区</label>
					</li>
					<li class="mui-table-view-cell">
						案情描述<label class="r-float font-color miaoshu" >
							当事人李某某于2017年1月30日秀洲区秀洲大道234号附近随意倾倒垃圾，
							当事人李某某于2017年1月30日秀洲区秀洲大道234号附近随意倾倒垃圾，
							当事人李某某于2017年1月30日秀洲区秀洲大道234号附近随意倾倒垃圾，
							当事人李某某于2017年1月30日秀洲区秀洲大道234号附近随意倾倒垃圾，
							当事人李某某于2017年1月30日秀洲区秀洲大道234号附近随意倾倒垃圾，
						</label>
					</li>
					<li class="mui-table-view-cell">
						承办中队<label class="r-float font-color" >直属中队</label>
					</li>
					<li class="mui-table-view-cell">
						承办人员<label class="r-float font-color" >王一、张亮</label>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/require.min.js" data-main="ajsh-jbxx.js"></script>

</html>