<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>督查事件</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/app.css">
		<link rel="stylesheet" type="text/css" href="../../css/report.css"/>
		<style type="text/css">
			.mui-input-row label{
				width: 24%;
			}
			.mui-input-row label~input{
				width: 73%;
			}
		</style>
		
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headerTitle">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">督查事件</h1>
		</header>
		<div class="mui-content">
			<form class="mui-input-group">
				<div class="contentTopBlock">
					<div class="mui-input-row">
						<label>联系人</label>
						<input type="text" value=''>
					</div>
					<div class="mui-input-row">
						<label>联系电话</label>
						<input type="text" value=''>
					</div>
					<div class="mui-input-row">
						<label>事件标题</label>
						<input type="text" value=''>
					</div>
					<div class="mui-input-row">
						<label>事件大类</label>
						<input readonly style="background: url(../../image/report/triangle.png) no-repeat 98% center;" type="text" value=''>
					</div>
					<div class="mui-input-row">
						<label>事件小类</label>
						<input readonly style="background: url(../../image/report/triangle.png) no-repeat 98% center;" type="text" value=''>
					</div>
					<div class="mui-input-row">
						<label>事件地址</label>
						<input type="text" value=''>
					</div>
					<div class="mui-input-row">
						<label>地点坐标</label>
						<input readonly style="background: url(../../image/wddb/location-red.png) no-repeat 99% center;" type="text" value=''>
					</div>
					<div class="mui-input-row" style="height: 60px;">
						<label>事件内容</label>
						<textarea rows="2"></textarea>	
					</div>
				</div>
			</form>
			<div style="margin-left: 20px;margin-top: 10px; font-size: 15px;">现场拍照</div>
			<div class="card">
				<div class="addphoto">
					<img src="../../image/addphoto.png"/>
				</div>
				<div class="addphoto">
					<img src="../../image/addphoto.png"/>
				</div>
				<div class="addphoto">
					<img src="../../image/addphoto.png"/>
				</div>
			</div>
			<form class="mui-input-group">
				<div class="contentTopBlock">
					<div class="mui-input-row">
						<label>上报时间</label>
						<input type="text" value='2017-01-19 09:38:09'>
					</div>
				</div>
			</form>
			<button type="button" class="mui-btn buttoncenter">提&nbsp;&nbsp;交</button>
		</div>
	</body>
	<script type="text/javascript" src="../../js/require.min.js" data-main='dcsj.js'></script>

</html>