<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>简易案件列表</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/app.css"/>
		
		<style type="text/css">
			.mui-table-view-cell{
				padding: 11px 10px;
			}
			.img{
				width: 20%;
				height: 50px;
			}
			.wordrow{
				white-space: nowrap;
				overflow: hidden;
				width: 100%;
				text-overflow: ellipsis;
			}
			.worddiv{
				width: 76%;
				margin-left: 8px;
			}
			
			.secondline{
				margin-top: 5px;
			}
			
			.time{
				float: right;
				color: #999;
			}
			
			.liinputheight input{
				text-align: left;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headerTitle">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">简易案件列表</h1>
		</header>
		<div class="mui-content">
			<div class="mui-card">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<div class="liinputheight">
							<span class="l-float">选择中队</span>
							<input  style="background: url(../../image/report/triangle-black.png) no-repeat right top;" readonly type="text" value=''/>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="liinputheight">
							<span class="l-float">起始时间</span>
							<input type="text" value=''/>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="liinputheight">
							<span class="l-float">结束时间</span>
							<input type="text" value=''/>
						</div>
					</li>
				</ul>
			</div>
			<div class="mui-card">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<img class="img l-float" src="../../image/wddb/dbaj.png" />
						<div class="l-float worddiv">
							<div class="wordrow">任何单位或个人随意倾倒、抛撒或者堆放建筑垃圾的</div>
							<div class="secondline">
								<span class="l-float font-color">聚贤路15号</span>
								<span class="time">2017-01-19 13 : 00</span>
							</div>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<img class="img l-float" src="../../image/wddb/dbaj.png" />
						<div class="l-float worddiv">
							<div class="wordrow">任何单位或个人随意倾倒、抛撒或者堆放建筑垃圾的</div>
							<div class="secondline">
								<span class="l-float font-color">聚贤路15号</span>
								<span class="time">2017-01-19 13 : 00</span>
							</div>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<img class="img l-float" src="../../image/wddb/dbaj.png" />
						<div class="l-float worddiv">
							<div class="wordrow">任何单位或个人随意倾倒、抛撒或者堆放建筑垃圾的</div>
							<div class="secondline">
								<span class="l-float font-color">聚贤路15号</span>
								<span class="time">2017-01-19 13 : 00</span>
							</div>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<img class="img l-float" src="../../image/wddb/dbaj.png" />
						<div class="l-float worddiv">
							<div class="wordrow">任何单位或个人随意倾倒、抛撒或者堆放建筑垃圾的</div>
							<div class="secondline">
								<span class="l-float font-color">聚贤路15号</span>
								<span class="time">2017-01-19 13 : 00</span>
							</div>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<img class="img l-float" src="../../image/wddb/dbaj.png" />
						<div class="l-float worddiv">
							<div class="wordrow">任何单位或个人随意倾倒、抛撒或者堆放建筑垃圾的</div>
							<div class="secondline">
								<span class="l-float font-color">聚贤路15号</span>
								<span class="time">2017-01-19 13 : 00</span>
							</div>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<img class="img l-float" src="../../image/wddb/dbaj.png" />
						<div class="l-float worddiv">
							<div class="wordrow">任何单位或个人随意倾倒、抛撒或者堆放建筑垃圾的</div>
							<div class="secondline">
								<span class="l-float font-color">聚贤路15号</span>
								<span class="time">2017-01-19 13 : 00</span>
							</div>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<img class="img l-float" src="../../image/wddb/dbaj.png" />
						<div class="l-float worddiv">
							<div class="wordrow">任何单位或个人随意倾倒、抛撒或者堆放建筑垃圾的</div>
							<div class="secondline">
								<span class="l-float font-color">聚贤路15号</span>
								<span class="time">2017-01-19 13 : 00</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/require.min.js" data-main='jyaj-list.js'></script>
</html>