<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>领导督办列表</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/app.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/report.css"/>
		<style type="text/css">
			.card{
				margin: 10px;
				padding: 10px 15px;
			}
			
			.title{
				display: inline-block;
				width: 21%;
				float: left;
				line-height: 180%;
			}
			
			.content{
				display: inline-block;
				color: #005a8d;
				line-height: 180%;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headerTitle">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">领导督办</h1>
			<span class="r-float margin-top14px">添加</span>
		</header>
		<div class="mui-content">
			<div class="card">
				<div>
					<div class="title">督办意见</div>
					<div class="content">此案件需及时处理</div>
				</div>
				<div>
					<div class="title">紧急程序</div>
					<div class="content" style="color: red;">紧急</div>
				</div>
				<div>
					<div class="title">短信提醒</div>
					<div class="content">张三（12345654321）</div>
				</div>
				<div>
					<div class="title">督办时间</div>
					<div class="content">2017-02-09 10:30:20</div>
				</div>
			</div>
			<div class="card">
				<div>
					<div class="title">督办意见</div>
					<div class="content">此案件需及时处理</div>
				</div>
				<div>
					<div class="title">紧急程序</div>
					<div class="content" style="color: red;">紧急</div>
				</div>
				<div>
					<div class="title">短信提醒</div>
					<div class="content">张三（12345654321）</div>
				</div>
				<div>
					<div class="title">督办时间</div>
					<div class="content">2017-02-09 10:30:20</div>
				</div>
			</div>
			<div class="card">
				<div>
					<div class="title">督办意见</div>
					<div class="content">此案件需及时处理</div>
				</div>
				<div>
					<div class="title">紧急程序</div>
					<div class="content" style="color: red;">紧急</div>
				</div>
				<div>
					<div class="title">短信提醒</div>
					<div class="content">张三（12345654321）</div>
				</div>
				<div>
					<div class="title">督办时间</div>
					<div class="content">2017-02-09 10:30:20</div>
				</div>
			</div>
			<div class="card">
				<div>
					<div class="title">督办意见</div>
					<div class="content">此案件需及时处理</div>
				</div>
				<div>
					<div class="title">紧急程序</div>
					<div class="content" style="color: red;">紧急</div>
				</div>
				<div>
					<div class="title">短信提醒</div>
					<div class="content">张三（12345654321）</div>
				</div>
				<div>
					<div class="title">督办时间</div>
					<div class="content">2017-02-09 10:30:20</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/require.min.js" data-main='lddb-list.js'></script>
</html>