
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/app.css" />
		<title>临时中转</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headerTitle">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">临时中转</h1>
		</header>
		<div class="mui-content">
			<button type="button" class="mui-btn mui-btn-block" data-href="../znxc/index.html">
				智能巡查:index.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="znxc-results.html">
				智能巡查-搜索结果:znxc-results.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="znxc-detail.html">
				智能巡查-查询结果详情:znxc-detail.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="jbxx.html">
				行政审批处理-基本信息:jbxx.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="smsjpq.html">
				市民事件派遣:smsjpq.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="smsjcl.html">
				市民事件处理:smsjcl.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="ldsy.html">
				领导首页:ldsy.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="smsjdsh.html">
				待审核市民事件:smsjdsh.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="smsj-ldsh.html">
				领导审核市民事件:smsj-ldsh.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="smsjdcl.html">
				待处理市民事件:smsjdcl.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="smsjdpq.html">
				待派遣市民事件:smsjdpq.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="ybaj-list.html">
				一般案件列表:ybaj-list.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="jyaj-list.html">
				简易案件列表:jyaj-list.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="wtaj-list.html">
				违停案件列表:wtaj-list.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="ajsh-jbxx.html">
				案件审核-基本信息:ajsh-jbxx.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="ajsh-ajcl.html">
				案件审核-案件处理:ajsh-ajcl.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="ajsh-lzrz.html">
				案件审核-流转日志:ajsh-lzrz.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="ajsh-xgws.html">
				案件审核-相关文书:ajsh-xgws.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="ybajlb.html">
				一般案件列表:ybajlb.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="lddb-list.html">
				领导督办列表:lddb-list.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="lddb-detail.html">
				领导督办详情:lddb-detail.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="dcsj.html">
				督查事件:dcsj.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="dshsjlb.html">
				待审核事件列表:dshsjlb.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="dshajlb.html">
				待审核案件列表:dshajlb.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="xzsp-cllb.html">
				行政审批-材料列表:xzsp-cllb.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="xzsp-yjlb.html">
				行政审批-意见列表:xzsp-yjlb.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="xzsp-bjxx.html">
				行政审批-办结信息:xzsp-bjxx.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="qdxq.html">
				签到详情:qdxq.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="wtajxq.html">
				违停案件详情:wtajxq.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="jyajxq.html">
				简易案件详情:jyajxq.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="yhsy.html">
				养护首页:yhsy.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="wtsb.html">
				问题上报:wtsb.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="yhrzsb.html">
				养护日志上报:yhrzsb.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="dbyhrwlb.html">
				待办养护任务列表:dbyhrwlb.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="wtxq.html">
				问题详情:wtxq.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="dbsjlb.html">
				待办事件列表:dbsjlb.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="dclsmsj.html">
				待处理市民事件:dclsmsj.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="rwzx.html">
				任务中心:rwzx.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="yhwtlb.html">
				养护问题列表:yhwtlb.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="rwzx-wtxq.html">
				任务中心-问题详情:rwzx-wtxq.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="smsjlb.html">
				市民事件列表:smsjlb.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="smsjxq.html">
				市民事件详情:smsjxq.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="yhrz.html">
				养护日志:yhrz.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="yhrzxq.html">
				养护日志详情:yhrzxq.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="../qd/qdindex.html">
				签到:qdindex.html
			</button>
			<button type="button" class="mui-btn mui-btn-block" data-href="../../contact.html">
				通讯录:contact.html
			</button>
			
			<button type="button" class="mui-btn mui-btn-block" data-href="../txl/txlxq.html">
				通讯录详情:txlxq.html
			</button>
		</div>
	</body>
	<script type="text/javascript" src="../../js/require.min.js" data-main='linshi.js'></script>

</html>