<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>签到详情 </title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<link href="../../css/mui.css" rel="stylesheet" />
		<link href="../../css/app.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headerTitle">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">签到详情</h1>
		</header>
		<div class="mui-content">
			<div class="mui-card">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						所属中队<label class="r-float font-color" >新城中队</label>
					</li>
					<li class="mui-table-view-cell">
						所属班组<label class="r-float font-color" >一班</label>
					</li>
					<li class="mui-table-view-cell">
						队员<label class="r-float font-color" >张三</label>
					</li>
					<li class="mui-table-view-cell">
						任务日期<label class="r-float font-color" >2017-02-09 星期二</label>
					</li>
					<li class="mui-table-view-cell">
						计划签到<label class="r-float font-color" >08:00 - 08:30</label>
					</li>
					<li class="mui-table-view-cell">
						计划签退<label class="r-float font-color" >17:30 - 15:50</label>
					</li>
					<li class="mui-table-view-cell">
						实际签到时间<label class="r-float font-color" >无</label>
					</li>
					<li class="mui-table-view-cell">
						实际签退时间<label class="r-float font-color" >无</label>
					</li>
					<li class="mui-table-view-cell">
						签到状态<label class="r-float font-color" >未签到</label>
					</li>
					<li class="mui-table-view-cell">
						签退状态<label class="r-float font-color" >未签退</label>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/require.min.js" data-main="qdxq.js"></script>

</html>