<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>问题详情 </title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<link href="../../css/mui.css" rel="stylesheet" />
		<link href="../../css/app.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/report.css"/>
		<style type="text/css">
			.miaoshu{
				height: auto;
				overflow: auto;
				width: 80%;
				word-wrap: break-word;
				text-align: right;
			}
			
			.image{
				width: 24%;
			}
			
			.addimg{
				width: 24%;
				border: dashed 1px #cccccc;
				border-radius: 4px;
			}
			
			li.mui-table-view-cell input[type='text']{
				margin-left: 15px;
				width: 54%;
				margin-bottom: 0;
				height: 26px;
				font-size: 14px;
				padding: 10px;
			}
			
			.zp{
				float: right;
				width: 75%;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headerTitle">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">问题详情</h1>
		</header>
		<div class="mui-content">
			<div class="mui-card">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						养护类型<label class="r-float font-color" >新换</label>
					</li>
					<li class="mui-table-view-cell">
						问题大类<label class="r-float font-color" >绿化带</label>
					</li>
					<li class="mui-table-view-cell">
						问题小类<label class="r-float font-color" >绿化带被破坏</label>
					</li>
					<li class="mui-table-view-cell">
						养护对象<label class="r-float font-color" >绿化带</label>
					</li>
					<li class="mui-table-view-cell">
						当日天气<label class="r-float font-color" >阴天</label>
					</li>
					<li class="mui-table-view-cell">
						处理期限<label class="r-float font-color" >2017-03-05 08:00</label>
					</li>
					<li class="mui-table-view-cell">
						维修经费(元)<label class="r-float font-color" >1000</label>
					</li>
					<li class="mui-table-view-cell">
						工作量估算(人/天)<label class="r-float font-color" >3</label>
					</li>
					<li class="mui-table-view-cell">
						养护合同<label class="r-float font-color" >2017年秀洲区源公司满年合同</label>
					</li>
					<li class="mui-table-view-cell">
						问题地址<label class="r-float font-color" >秀洲区洪兴路2323号</label>
					</li>
					<li class="mui-table-view-cell">
						地理位置<label class="r-float font-color" >12.33445566,23.44556677</label>
					</li>
					<li class="mui-table-view-cell">
						问题描述<label class="r-float font-color miaoshu" >经巡查发现秀洲区洪兴路2323号附近的绿化带被破坏，请及时修复</label>
					</li>
					<li class="mui-table-view-cell">
						照片说明
						<div class="zp">
							<img class="image" src="../../image/yhdb/zpsm.png"/>
							<img class="image" style="margin: 0 12%;" src="../../image/yhdb/zpsm.png"/>
							<img class="image" src="../../image/yhdb/zpsm.png"/>
						</div>
					</li>
					<li class="mui-table-view-cell">
						处理后照片
						<div class="zp">
							<img class="addimg" src="../../image/addphoto.png"/>
							<img class="addimg" style="margin: 0 12%;" src="../../image/addphoto.png"/>
							<img class="addimg" src="../../image/addphoto.png"/>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<span style="float: left;padding-top: 4px;">附件上传</span>
						<input readonly type="text">
						<span style="background-color: #005a8d;color: white;padding: 3px 20px 5px 20px;border-radius: 3px;">上传</span>
					</li>
				</ul>
			</div>
			
			<button type="button" class="mui-btn buttoncenter">提&nbsp;&nbsp;交</button>
		</div>
	</body>
	<script type="text/javascript" src="../../js/require.min.js" data-main="wtxq.js"></script>

</html>