<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>行政审批-意见列表 </title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<link href="../../css/mui.css" rel="stylesheet" />
		<link href="../../css/app.css" rel="stylesheet" />
		<style type="text/css">
			.title{
				margin: 10px 0 0 15px;
				font-size: 15px;
			}
			
			.mui-card{
				margin-top: 3px;
			}
		</style>
	</head>

	<body>
		<div class="mui-content">
			<div>
				<div class="title">意见列表</div>
				<div class="mui-card">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">
							序号<label class="r-float font-color" >1</label>
						</li>
						<li class="mui-table-view-cell">
							环节<label class="r-float font-color" >领导批准</label>
						</li>
						<li class="mui-table-view-cell">
							意见类型<label class="r-float font-color" >同意</label>
						</li>
						<li class="mui-table-view-cell">
							意见发表者<label class="r-float font-color" >任晓君(市行政执法局)</label>
						</li>
						<li class="mui-table-view-cell">
							环节处理时间<label class="r-float font-color" >2016-11-04 20:23:19</label>
						</li>
						<li class="mui-table-view-cell">
							环节附件<label class="r-float font-color" ></label>
						</li>
					</ul>
				</div>
			</div>
			<div>
				<div class="title">意见列表</div>
				<div class="mui-card">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">
							序号<label class="r-float font-color" >2</label>
						</li>
						<li class="mui-table-view-cell">
							环节<label class="r-float font-color" >办结</label>
						</li>
						<li class="mui-table-view-cell">
							意见类型<label class="r-float font-color" >批准</label>
						</li>
						<li class="mui-table-view-cell">
							意见发表者<label class="r-float font-color" >倪雪琴(市行政执法局)</label>
						</li>
						<li class="mui-table-view-cell">
							环节处理时间<label class="r-float font-color" >2016-11-07 08:52:59</label>
						</li>
						<li class="mui-table-view-cell">
							环节附件<label class="r-float font-color" ></label>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/require.min.js" data-main="xzsp-yjlb.js"></script>

</html>