<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>智能巡查-查询结果详情 </title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<link href="../../css/mui.css" rel="stylesheet" />
		<link href="../../css/app.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headerTitle">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">查询结果详情</h1>
			<span class="r-float margin-top14px">快速上报</span>
		</header>
		<div class="mui-content">
			<div class="mui-card">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						店家名称<label class="r-float font-color" >沙县小吃</label>
					</li>
					<li class="mui-table-view-cell">
						地址<label class="r-float font-color" >聚贤路15号</label>
					</li>
					<li class="mui-table-view-cell">
						店家类型<label class="r-float font-color" >小吃餐饮</label>
					</li>
					<li class="mui-table-view-cell">
						许可证号<label class="r-float font-color" >1234567678</label>
					</li>
					<li class="mui-table-view-cell">
						许可证有效期<label class="r-float font-color" >2016-01-01 至 2018-01-01</label>
					</li>
					<li class="mui-table-view-cell">
						经营有效期<label class="r-float font-color" >2016-01-01 至 2018-01-01</label>
					</li>
					<li class="mui-table-view-cell">
						负责人<label class="r-float font-color" >王金宝</label>
					</li>
					<li class="mui-table-view-cell">
						证件号<label class="r-float font-color" >345621198709090909</label>
					</li>
					<li class="mui-table-view-cell">
						联系电话<label class="r-float font-color" >13456780909</label>
					</li>
					<li class="mui-table-view-cell">
						营业面积<label class="r-float font-color" >25平方米</label>
					</li>
					<li class="mui-table-view-cell">
						员工数<label class="r-float font-color" >9</label>
					</li>
					<li class="mui-table-view-cell">
						地理位置
						<label class="r-float font-color" >160.332323.32.434433</label>
						<span class="r-float mui-icon mui-icon-location-filled" style="color:red;font-size: 24px;"></span>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/require.min.js" data-main="znxc-detail.js"></script>

</html>