<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/app.css" />
		<link rel="stylesheet" type="text/css" href="../../css/report.css"/>
		<title>智能巡查</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<style type="text/css">
			.mui-table-view:after{
				height: 0;
			}
			
			.mui-patrol {
				display: inline-block;
				width: 24%;
				color: #005a8d;
				text-align: center;
				padding-bottom:11px;
			}
			
			.quarter{
				display: inline-block;
				width: 24%;
				padding: 0 3%;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headerTitle">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">智能巡查</h1>
		</header>
		<div class="mui-content">
			<div style="padding:10px 0; background: #FFFFFF;border-bottom: 1px solid #CCCCCC;" align="center">
				<span class="mui-icon mui-icon-location-filled" style="color:red;font-size: 16px;"></span>
				<span style="font-size: 16px;">在嘉兴市秀洲区春晓公园附近</span>
			</div>
			<div style="font-weight: bold;font-size: 16px; margin: 10px 0 0 15px;">周边快查</div>
			<div class="card" style="padding: 0;">
				<div style="padding: 10px 0 10px 10px;">
					<span class="quarter"><input type="radio" name="distance" value="0.5" checked="checked" />&nbsp;500米</span>
					<span class="quarter"><input type="radio" name="distance" value="1" />&nbsp;1公里</span>
					<span class="quarter"><input type="radio" name="distance" value="2" />&nbsp;2公里</span>
					<span class="quarter"><input type="radio" name="distance" value="0" />&nbsp;其他</span>
				</div>
				<ul class="mui-table-view" style="padding: 11px 10px 0 10px">
					<li class="mui-patrol">沿街店家</li>
					<li class="mui-patrol">小摊小贩</li>
					<li class="mui-patrol">行政审批</li>
					<li class="mui-patrol">行政审批</li>
					<li class="mui-patrol">沿街店家</li>
					<li class="mui-patrol">小摊小贩</li>
					<li class="mui-patrol">小摊小贩</li>
					<li class="mui-patrol">行政审批</li>
				</ul>
			</div>
			<button type="button" class="mui-btn buttoncenter">查&nbsp;&nbsp;询</button>
		</div>
	</body>
	<script type="text/javascript" src="../../js/require.min.js" data-main='znxc.js'></script>

</html>