<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>法律法规详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../../css/mui.css" rel="stylesheet" />
		<link href="../../css/app.css" rel="stylesheet" />
		<style>
			.miaoshu{
				height: auto;
				overflow: auto;
				width: 73%;
				word-wrap: break-word;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav headerTitle">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">法律法规详情</h1>
		</header>
		<div class="mui-content">
			<div class="mui-card">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						权力事项<label class="r-float font-color miaoshu" id="qllx"></label>							
					</li>
					<li class="mui-table-view-cell">
						法律法规<label class="r-float font-color miaoshu" id="wftk"></label>							
					</li>
					<li class="mui-table-view-cell">
						裁量依据<label class="r-float font-color miaoshu" id="cfyj"></label>							
					</li>
					<li class="mui-table-view-cell">
						违法情形<label class="r-float font-color miaoshu" id="qjqw"></label>							
					</li>
					<li class="mui-table-view-cell">
						处罚结果<label class="r-float font-color miaoshu" id="qjyb"></label>							
					</li>
				</ul>
			</div>				
		</div>
	</body>
	<script type="text/javascript" src="../../js/require.min.js" data-main="fltwdetail"></script>
</html>
