<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link href="../../css/mui.css" rel="stylesheet" />
	</head>

	<body>
		<div class="mui-content">
			事件流程分析有误!当前流程不应该出现在手机端!请联系管理员
			<p id='model'></p>
			<p id='text'></p>
		</div>
	</body>
	<script type="text/javascript" src="../../js/mui.min.js"></script>
	<script>
		mui.plusReady(function() {
			var self = plus.webview.currentWebview();
			var model = self.model;
			var wfdid = self.wfdid;
			document.getElementById("model").innerText ='流程wfdid:' + wfdid;
			document.getElementById("text").innerText = JSON.stringify(model);
			plus.nativeUI.closeWaiting();
			
		});
	</script>

</html>