<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>行政审批列表--全部审批</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/app.css"/>
		
		<style type="text/css">
			.mui-table-view-cell{
				padding: 11px 10px;
			}
			.img{
				width: 20%;
				height: 50px;
			}
			.wordrow{
				white-space: nowrap;
				overflow: hidden;
				width: 100%;
				text-overflow: ellipsis;
			}
			.worddiv{
				width: 76%;
				margin-left: 8px;
			}
			
			.secondline{
				margin-top: 5px;
			}
			
			.time{
				float: right;
				color: #999;
				
			}
			
			.address{
				width: 45%;
			}
			.serchinputdiv{
				margin: 0px;
				margin-bottom: 5px;
			}
		</style>
	</head>

	<body>
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<!--<div class="mui-input-row mui-search serchinputdiv" style="background-color: white;">
					<input id='searchText' type="search" class="mui-input-clear" placeholder="" style="border: 1px solid #D7D7D7; margin: 0px;" />
				</div>-->
				<!--数据列表-->
				<ul class="mui-table-view" id="menuList">
					<template v-for='(item,index) in items'>
						<li class="mui-table-view-cell" @tap='openView(item)'>
							<img class="img l-float" v-if="item.now<item.endtime" src="../../image/wddb/wcs.png" alt="" />
							<img class="img l-float" v-else  src="../../image/wddb/cs.png" alt="" />
							<div class="l-float worddiv">
								<div class="wordrow">{{item.projectname}}</div>
								<div class="secondline">
									<span class="l-float font-color wordrow address">{{item.applyername}}</span>
									<span class="time">{{item.receivedate}}</span>
								</div>
							</div>	
						</li>
					</template>
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/require.min.js" data-main='allshenpi.js'></script>
</html>