<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>三包详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../../css/mui.css" rel="stylesheet" />
		<link href="../../css/app.css" rel="stylesheet" />
		<link href="../../css/report.all.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/imageviewer.css" />
		
		<style>
			
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headerTitle">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">三包详情</h1>
		</header>
		<div class="mui-content">
			<form class="mui-input-group">
				<div class="mui-input-row">
					<label>店家名称</label>
					<input readonly="readonly" type="text" id="name">
				</div>
				<div class="mui-input-row" >
					<label>店家类型</label>
					<input readonly="readonly" type="text" id="type">
				</div>
				<div class="mui-input-row">
					<label>负责人</label>
					<input readonly="readonly" type="text" id="personName">
				</div>
				<div class="mui-input-row">
					<label>证件号</label>
					<input readonly="readonly" type="text" id="zjh">
				</div>
				<div class="mui-input-row">
					<label>负责电话</label>
					<input readonly="readonly" type="text" id="phone">
				</div>
				<div class="mui-input-row">
					<label>地址</label>
					<input readonly="readonly" type="text" id="address">
				</div>
				<div class="mui-input-row" id='mapaddress'>
					<label>地点坐标</label>
					<input readonly="readonly" type="text" id="geography" class="geography">
				</div>
				<div class="form-textereadiv">
					<label>备注</label>
					<textarea readonly="readonly" rows="3" id="remark"></textarea>
				</div>
			</form>
			<p class="font-bigsize16px margin-topbottom10px">附件</p>
			<div class="mui-card">
				<div class="person-photodiv padding-top10px">					
					<a class="navigateright">
						<img id="head-img1" src="../../image/nophoto.png" class="fujianimg" style="margin-left: 9%;" />
					</a>
					<a class="navigateright">
						<img id="head-img2" src="../../image/nophoto.png" class="fujianimg" style="margin-left: 5%;margin-right: 5%;" />
					</a>
					<a class="navigateright">
						<img id="head-img3" src="../../image/nophoto.png" class="fujianimg" />
					</a>
				</div>
			</div>
			<input id="head-img1Name" type="hidden" value="" />
			<input id="head-img2Name" type="hidden" value="" />
			<input id="head-img3Name" type="hidden" value="" />
			<input id="img-head-img1Name" type="hidden" value="" />
			<input id="img-head-img2Name" type="hidden" value="" />
			<input id="img-head-img3Name" type="hidden" value="" />
			
		</div>
	</body>
	<script type="text/javascript" src="../../js/require.min.js" data-main="mQDetail.js"></script>

</html>