<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>材料列表 </title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link href="../../css/mui.css" rel="stylesheet" />
		<link href="../../css/app.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/report.css" />
		<style type="text/css">
			.title {
				margin: 10px 0 0 15px;
				font-size: 15px;
			}
			
			.mui-card {
				margin-top: 3px;
			}
			
			.miaoshu {
				height: auto;
				overflow: auto;
				width: 80%;
				word-wrap: break-word;
				text-align: right;
			}
			
			.addphoto {
				width: 25%;
				margin: 0 0 0 7%;
			}
		</style>
	</head>

	<body>
		<div class="mui-content">
			<div class="title">材料列表</div>
			<div class="mui-card">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						序号<label class="r-float font-color">1</label>
					</li>
					<li class="mui-table-view-cell">
						材料名称<label class="r-float font-color">工程渣土准运证核准表</label>
					</li>
					<li class="mui-table-view-cell">
						备注<label class="r-float font-color">暂无</label>
					</li>
					<li class="mui-table-view-cell">
						接受方式<label class="r-float font-color">附件上传</label>
					</li>
					<li class="mui-table-view-cell">
						状态<label class="r-float font-color">以收取</label>
					</li>
					<li class="mui-table-view-cell">
						文件<label class="r-float font-color">工程渣土准运证核准表.jpg</label>
					</li>
				</ul>
			</div>
			<div class="title">材料列表</div>
			<div class="mui-card">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						序号<label class="r-float font-color">1</label>
					</li>
					<li class="mui-table-view-cell">
						材料名称<label class="r-float font-color">工程渣土准运证核准表</label>
					</li>
					<li class="mui-table-view-cell">
						备注<label class="r-float font-color">暂无</label>
					</li>
					<li class="mui-table-view-cell">
						接受方式<label class="r-float font-color">附件上传</label>
					</li>
					<li class="mui-table-view-cell">
						状态<label class="r-float font-color">以收取</label>
					</li>
					<li class="mui-table-view-cell">
						文件<label class="r-float font-color">工程渣土准运证核准表.jpg</label>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/require.min.js" data-main="nsMaterial.js"></script>

</html>