.css_animation {
    height: 36px;
    width: 35px;
    border-radius: 30px;
    background: rgba(255, 0, 0, 0.9);
    transform: scale(0);
    animation: myfirst 4s;
    animation-iteration-count: infinite;
}

@keyframes myfirst {
    to {
        transform: scale(2);
        background: rgba(0, 0, 0, 0);
    }
}

.template {
    width: auto;
    height: 30px;
    color: white;
    background-color: #104565;
    border-radius: 5px;
}

    .template span {
        font-size: 12px;
        line-height: 30px;
    }

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #104565;
    font-size: 0;
    line-height: 0;
    position: relative;
    left: 50px;
}

.tempalte-details {
    width: 150px;
    height: 50px;
    background-color: #104565;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    text-align: center;
}
