/*toprigth工具条*/
.toprighttoolbar {
    width: 170px;
    height: 40px;
    background: -webkit-linear-gradient(#0D4456, #0A3E50); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#0D4456, #0A3E50); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#0D4456, #0A3E50); /* Firefox 3.6 - 15 */
    background: linear-gradient(#0D4456, #0A3E50); /* 标准的语法 */
    position: absolute;
    top: 80px;
    right: 0px;
}

.toprightfilltoolbar {
    width: 168px;
    height: 38px;
    border: 1px solid #6BC7C9;
}
    .toprightfilltoolbar img {
        margin-left:2px;
    }
        .toprightfilltoolbar img:hover {
             cursor:pointer;
        }

.righttoolbar {
    width: 40px;
    height: 550px;
    background: -webkit-linear-gradient(#0D4456, #0A3E50); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#0D4456, #0A3E50); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#0D4456, #0A3E50); /* Firefox 3.6 - 15 */
    background: linear-gradient(#0D4456, #0A3E50); /* 标准的语法 */
    position:absolute;
    top:140px;
    right:0px;
}
.rightfilltoolbar {
    width: 38px;
    height: 548px;
    border: 1px solid #6BC7C9;
}
    .rightfilltoolbar img {
        margin:5px 0px 0px 2px;
    }
        .rightfilltoolbar img:hover {
            cursor:pointer;
        }
.two-dimensionalMapright {
    width: 40px;
    height: 362px;
    background: -webkit-linear-gradient(#0D4456, #0A3E50); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#0D4456, #0A3E50); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#0D4456, #0A3E50); /* Firefox 3.6 - 15 */
    background: linear-gradient(#0D4456, #0A3E50); /* 标准的语法 */
    position:absolute;
    top:140px;
    right:0px;
}
.two-dimensionalMaprightfilltoolbar{
    width: 38px;
    height: 360px;
    border: 1px solid #6BC7C9;
}

    .two-dimensionalMaprightfilltoolbar img {
        margin: 5px 0px 0px 2px;
    }
        .two-dimensionalMaprightfilltoolbar img:hover {
            cursor: pointer;
        }
/*工具气泡提示窗*/
.toolbar-tip-show{
    width:100px;
    height:70px;
    background-image:url(../Image/toolbar/2DRight/rightToolTipbg.png);
    background-repeat:no-repeat;
    background-size:100px 70px;
    position:absolute;
    top:132px;
    right:40px;
    color:white;
    font-size:15px;
    display:none;
}
.toolbar-tip-show ul{
    width:calc(100% - 2px);
    height:calc(100% - 2px);
    list-style:none;
    margin:2px 0px 0px 2px;
    padding:0px;
}
.toolbar-tip-hr{
    width:calc(100% - 20px);
    height:1px;
    background-color:#0d6667;
    margin-left:2px;
}
.toolbar-tip-li{
    height:29px;
}
.toolbar-tip-li:hover{
    cursor:pointer;
}
.toolbar-tip-li span{
    line-height:29px;
}
.toolbar-tip-li-bg{
    width:13px; height:13px;
    float:left;
    margin:9px 0px 0px 2px;
}
.toolbar-tip-li-bg.bgone{
    background-image:url(../Image/toolbar/2DRight/pointsIcon.png);
    background-size:100%;
    background-repeat:no-repeat;
}
.toolbar-tip-li-bg.bgtwo{
    background-image:url(../Image/toolbar/2DRight/pointshistory.png);
    background-repeat:no-repeat;
    background-size:100%;
}




