<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		
		<title>地图浏览</title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/app.css" />
		<link rel="stylesheet" href="../css/esri.css" />
		
		<style>
			#map{
				/*background-color: red;*/
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title"></h1>
			<button id='clickMarker' style="display: none;" class="mui-btn mui-btn-link mui-pull-right">完成</button>
		</header>
		<!--<div class="mui-content">
			<div  id='map'>
			</div>
		</div>-->
		<div class="mui-content mui-fullscreen">
			<div id='map' style='width: 100%;height: 100%;'>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/mui.min.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../js/mui.picker.all.js"></script>
	<script type="text/javascript" src="../js/DataGet.js"></script>
	<script type="text/javascript" src="../js/vue/vue.min.js"></script>
	<script type="text/javascript" src="../js/position.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="../js/position.js"></script>
	<script type="text/javascript" src="../js/arcgis.js"></script>
	<script type="text/javascript" src="../js/init.js"></script>
	<script type="text/javascript" src="agarea_map.js"></script>
	<!--<script type="text/javascript" src="js/require.min.js" data-main='pq_map.js'></script>-->
</html>
