<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

		<title>浮动页面(底部)</title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/app.css" />
	</head>

	<body style="background-color: rgba(243,243,243,0.5);padding:2px 5px 0 5px;">
		<div style="float: left;width: 50%;">
			<div>
				<span>姓名：</span>
				<span id="name"></span>
			</div>
			<div style="margin-top: 5px;">
				<span>部门：</span>
				<span id="unitName"></span>
			</div>
		</div>
		<span id="phone" style="float: right;margin-top: 13px"></span>
		<img id='callphone' src="../image/zbjl/telphone.png" width="10%" style="float:right;margin-right: 5px;margin-top: 8px;" />
	</body>
	<script type="text/javascript" src="../js/require.min.js" data-main='floatView.js'></script>

</html>