<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>修改密码</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/app.css">
		<style>
			.mui-input-group .mui-input-row {
				height: 50px;
				padding-top: 8px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headerTitle">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">修改密码</h1>
		</header>
		<div class="mui-content">
			<form class="mui-input-group margintop">
				<div class="mui-input-row">
					<label>原始密码:</label>
					<input type="text" id="oldpwd" placeholder="请输入原始密码" value="" />
				</div>
				<div class="mui-input-row">
					<label>&nbsp;&nbsp;&nbsp;&nbsp;新密码:</label>
					<input type="password" id="newpwd" placeholder="请输入新密码" value="" />
				</div>
				<div class="mui-input-row">
					<label>重复密码:</label>
					<input type="password" id="renewpwd" placeholder="请再次输入密码" value="" />
				</div>
			</form>
			<button type="button" id="changePwdBtn" class="mui-btn buttoncenter" style="margin-top: 10px;">提&nbsp;&nbsp;交</button>
		</div>
	</body>
	<script type="text/javascript" src="../../js/require.min.js" data-main='changepassword.js'></script>

</html>