<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>案件审核-流转日志</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/app.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/report.css"/>
		<style type="text/css">
			.card{
				margin: 10px;
				padding: 10px 15px;
			}
			
			.title{
				display: inline-block;
				width: 32%;
				float: left;
				line-height: 180%;
			}
			
			.content{
				display: inline-block;
				color: #005a8d;
				line-height: 180%;
			}
		</style>
	</head>

	<body>
		<div class="mui-content">
			<div class="card">
				<div>
					<div class="title">案件环节名称</div>
					<div class="content">法制科审核立案申请</div>
				</div>
				<div>
					<div class="title">处理人</div>
					<div class="content">刘科长</div>
				</div>
				<div>
					<div class="title">处理意见</div>
					<div class="content">同意立案，妥否，请领导批准</div>
				</div>
				<div>
					<div class="title">开始时间</div>
					<div class="content">2017-02-08 09 : 30 : 30</div>
				</div>
				<div>
					<div class="title">结束时间</div>
					<div class="content">2017-02-08 09 : 30 : 30</div>
				</div>
			</div>
			<div class="card">
				<div>
					<div class="title">案件环节名称</div>
					<div class="content">法制科审核立案申请</div>
				</div>
				<div>
					<div class="title">处理人</div>
					<div class="content">刘科长</div>
				</div>
				<div>
					<div class="title">处理意见</div>
					<div class="content">同意立案，妥否，请领导批准</div>
				</div>
				<div>
					<div class="title">开始时间</div>
					<div class="content">2017-02-08 09 : 30 : 30</div>
				</div>
				<div>
					<div class="title">结束时间</div>
					<div class="content">2017-02-08 09 : 30 : 30</div>
				</div>
			</div>
			<div class="card">
				<div>
					<div class="title">案件环节名称</div>
					<div class="content">法制科审核立案申请</div>
				</div>
				<div>
					<div class="title">处理人</div>
					<div class="content">刘科长</div>
				</div>
				<div>
					<div class="title">处理意见</div>
					<div class="content">同意立案，妥否，请领导批准</div>
				</div>
				<div>
					<div class="title">开始时间</div>
					<div class="content">2017-02-08 09 : 30 : 30</div>
				</div>
				<div>
					<div class="title">结束时间</div>
					<div class="content">2017-02-08 09 : 30 : 30</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/require.min.js" data-main='ajshLzrz.js'></script>
</html>