<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>案件审核-相关文书</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/app.css"/>
		<style type="text/css">
			.title{
				margin: 10px 0 0 23px;
			}
			
			.mui-table-view:before{
				height: 0;
			}
			
			.mui-table-view:after{
				height: 0;
			}
			
			.mui-table-view-cell{
				color: #005a8d;
				background-color: white;
				border: 1px solid #ddd;
				border-radius: 5px;
				margin-bottom: 10px;
			}
			
			.mui-table-view-cell:after{
				height: 0;
			}
		</style>
	</head>

	<body>
		<div class="mui-content">
			<div class="title">已有文书</div>
			<ul class="mui-table-view" style="margin: 10px;background-color: transparent;">
				<li class="mui-table-view-cell">
					<span>立案审批表</span>
					<span style="float: right;">></span>
				</li>
				<li class="mui-table-view-cell">
					<span>当事人身份证明</span>
					<span style="float: right;">></span>
				</li>
				<li class="mui-table-view-cell">
					<span>现场照片证据</span>
					<span style="float: right;">></span>
				</li>
				<li class="mui-table-view-cell">
					<span>调查询问笔录</span>
					<span style="float: right;">></span>
				</li>
				<li class="mui-table-view-cell">
					<span>现场检查勘验笔录</span>
					<span style="float: right;">></span>
				</li>
				<li class="mui-table-view-cell">
					<span>责令停止违法行为通知书</span>
					<span style="float: right;">></span>
				</li>
			</ul>
		</div>
	</body>
	<script type="text/javascript" src="../../js/require.min.js" data-main='ajshXgws.js'></script>
</html>