<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>首页</title>
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/app.css">
		<style>
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headerTitle">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">首页</h1>
		</header>
		<div class="mui-content">
			<button type="button" class="mui-btn mui-btn-block" id="lingdaodubanshouyebtn">领导督办首页</button>
			<button type="button" class="mui-btn mui-btn-block" id="weidubanliebiaobtn">未督办列表</button>
			<button type="button" class="mui-btn mui-btn-block" id="zijitarendubanliebiaobtn">自己/他人督办列表</button>
			<button type="button" class="mui-btn mui-btn-block" id="adddubanbtn">添加督办</button>
			<button type="button" class="mui-btn mui-btn-block" id="zhifaanjiantongjifenxibtn">执法案件统计分析</button>
			<button type="button" class="mui-btn mui-btn-block" id="shiminanjiantongjifenxibtn">市民案件统计分析</button>
		</div>
	</body>
	<script type="text/javascript" src="../../js/require.min.js" data-main='index.js'></script>

</html>