<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>领导督办列表</title>
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/app.css">
		<style type="text/css">
			.row-div span{
				width: 70%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				float: right;
				margin-right: 2%;
			}		
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headerTitle">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">领导督办列表</h1>
		</header>
		<div class="mui-content">
			<div class="mui-card">
				<div class="row-div">
					<label class="margin-left5pointer">督办意见</label>
					<span class="font-color">此案件需要及时处理</span>
				</div>
				<div class="row-div">
					<label class="margin-left5pointer">紧急程序</label>
					<span class="font-colorred">紧急</span>
				</div>
				<div class="row-div">
					<label class="margin-left5pointer">短信提醒</label>
					<span class="font-color">张图途（13213211111）</span>
				</div>
				<div class="row-div">
					<label class="margin-left5pointer">督办时间</label>
					<span class="font-color">2017-02-01 09:30</span>
				</div>
			</div>	
			<div class="mui-card">
				<div class="row-div">
					<label class="margin-left5pointer">督办意见</label>
					<span class="font-color">此案件需要及时处理</span>
				</div>
				<div class="row-div">
					<label class="margin-left5pointer">紧急程序</label>
					<span class="font-colorred">紧急</span>
				</div>
				<div class="row-div">
					<label class="margin-left5pointer">短信提醒</label>
					<span class="font-color">张图途（13213211111）</span>
				</div>
				<div class="row-div">
					<label class="margin-left5pointer">督办时间</label>
					<span class="font-color">2017-02-01 09:30</span>
				</div>
			</div>
			<div class="mui-card">
				<div class="row-div">
					<label class="margin-left5pointer">督办意见</label>
					<span class="font-color">此案件需要及时处理</span>
				</div>
				<div class="row-div">
					<label class="margin-left5pointer">紧急程序</label>
					<span class="font-colorred">紧急</span>
				</div>
				<div class="row-div">
					<label class="margin-left5pointer">短信提醒</label>
					<span class="font-color">张图途（13213211111）</span>
				</div>
				<div class="row-div">
					<label class="margin-left5pointer">督办时间</label>
					<span class="font-color">2017-02-01 09:30</span>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/require.min.js" data-main='lingdaodubanlist.js'></script>

</html>