<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>巡查任务</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/app.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/report.css"/>
		<style type="text/css">
			.title{
				margin: 10px 10px 0 20px;
			}
			
			.time{
				display: inline-block;
				margin-top: 3px;
				background: url(../../image/wddb/time.png) no-repeat left center;
				height: 20px;
				padding-left: 28px;
				color: #005a8d;
			}
			
			.qiandao{
				float: right;
				background-color: #005a8d;
				color: white;
				padding: 3px 12px;
				border-radius: 3px;
			}
			
			.mui-card{
				border-radius: 5px;
			}
			
			.out{
				background-color: transparent;
			}
			
			/*.out:before{
				height: 0;
			}*/
			
			.out:after{
				height: 0;
			}
			
			.out-cell{
				padding: 0;
			}
			
			.out-cell:after{
				height: 0;
			}
			
			.mui-card{
				margin-bottom: 1px;
			}
			
			.liinputheight input{
				width: 80%;
				margin: 0;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headerTitle">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">我的巡查任务</h1>
			<h2 class="right-allinfo" data-href = "patrolHistory.html">历史</h2>
		</header>
		<!--<div class="mui-content">
			<ul class="mui-table-view out">
				<li class="mui-table-view-cell out-cell">
					<div class="title">
						<div class="time">2017-01-09&nbsp;&nbsp;&nbsp;&nbsp;星期二</div>
						<span class="qiandao">进入签到页</span>
					</div>
					<div class="mui-card">
						<ul class="mui-table-view">
							<li class="mui-table-view-cell">
								<div class="liinputheight">
									<span class="l-float">巡查时间</span>
									<input readonly type="text" value='07 : 30 - 18 : 00'/>
								</div>
							</li>
							<li class="mui-table-view-cell">
								<div class="liinputheight">
									<span class="l-float">签到时间</span>
									<input readonly type="text" value='17 : 30 - 18 : 00'/>
								</div>
							</li>
							<li class="mui-table-view-cell">
								<div class="liinputheight">
									<span class="l-float">签退时间</span>
									<input readonly type="text" value='08 : 30 - 09 : 00'/>
								</div>
							</li>
							<li class="mui-table-view-cell">
								<div class="liinputheight">
									<span class="l-float">巡查区域</span>
									<img src="../../image/wddb/location-red.png"/>
								</div>
							</li>
							<li class="mui-table-view-cell">
								<div class="liinputheight">
									<span class="l-float">签到区域</span>
									<img src="../../image/wddb/location-green.png"/>
								</div>
							</li>
							<li class="mui-table-view-cell">
								<div class="liinputheight">
									<span class="l-float">任务说明</span>
									<input readonly type="text" value='进行日常巡查工作'/>
								</div>
							</li>
						</ul>
					</div>
				</li>	
			</ul>
		</div>-->
		
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<!--数据列表-->
				<ul class="mui-table-view out" id="menuList">
					<template v-for='(item,index) in items'>
						<li class="mui-table-view-cell out-cell">
							<div class="title" >
								<div class="time">{{item.time}}&nbsp;&nbsp;&nbsp;&nbsp;{{item.weekday}}</div>
								<span @tap='openSign' v-if='item.isSignIn' class="qiandao">进入签到页</span>
							</div>
							<div class="mui-card">
								<ul class="mui-table-view">
									<li class="mui-table-view-cell">
										<div class="liinputheight">
											<span class="l-float">巡查时间</span>
											<input readonly type="text" :value='item.patrolTime'/>
										</div>
									</li>
									<li class="mui-table-view-cell">
										<div class="liinputheight">
											<span class="l-float">签到时间</span>
											<input readonly type="text" :value='item.signTime'/>
										</div>
									</li>
									<li class="mui-table-view-cell">
										<div class="liinputheight">
											<span class="l-float">签退时间</span>
											<input readonly type="text" :value='item.signOutTime'/>
										</div>
									</li>
									<li class="mui-table-view-cell">
										<div class="liinputheight">
											<span class="l-float">巡查区域</span>
											<input class="location-red" readonly type="text" :value='item.patrolname' @tap="locationPatrol(item)"/>
										</div>
									</li>
									<li class="mui-table-view-cell">
										<div class="liinputheight">
											<span class="l-float">签到区域</span>
											<input class="location-green" readonly type="text" :value='item.signinareaname' @tap="locationSign(item)"/>
										</div>
									</li>
									<li class="mui-table-view-cell">
										<div class="liinputheight">
											<span class="l-float">任务说明</span>
											<input readonly type="text" :value='item.remark'/>
										</div>
									</li>
								</ul>
							</div>
						</li>
					</template>
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/require.min.js" data-main='patrol.js'></script>
</html>