<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>巡查任务历史</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/app.css"/>
		<style type="text/css">
			.img{
				width: 70px;
				float: left;
			}
			
			.content{
				display: inline-block;
				margin-left: 10px;
			}
			
			.time{
				margin-top: 10px;
				color: #005A8D;
			}
			
			.arrow{
				float: right; 
				margin-top: 15px; 
				color: #999999; 
				font-family: '微软雅黑';"
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headerTitle">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">巡查任务历史</h1>
		</header>
		<!--<div class="mui-content">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell" data-href='pHDetail.html'>
					<img class="img" src="../../image/wddb/xcrwls.png" />
					<div class="content">
						<div class="date">2017-01-09&nbsp;&nbsp;星期二</div>
						<div class="time">巡查时间：07:30&nbsp;&nbsp;-&nbsp;&nbsp;18:00</div>
					</div>
					<font class="arrow">></font>
				</li>
			</ul>
		</div>-->
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<!--数据列表-->
				<ul class="mui-table-view" id="menuList">
					<template v-for='(item,index) in items'>
						<li class="mui-table-view-cell" @tap='openView(item)'>
							<img class="img" src="../../image/wddb/xcrwls.png" />
							<div class="content">
								<div class="date">{{item.time}}&nbsp;&nbsp;{{item.weekday}}</div>
								<div class="time">巡查时间：{{item.patrolTime}}</div>
							</div>
							<font class="arrow">></font>
						</li>
					</template>
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/require.min.js" data-main='patrolHistory.js'></script>
</html>